<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AdminUser_Notice_RelateDao">

    <select id="queryAdminUser_Notice_RelatesByAdminUser" parameterType="com.po.AdminUser" resultType="com.po.AdminUser_Notice_Relate">
        select no, admin_user_no as adminUser_no, notice_no
        from admin_user_notice
        where admin_user_no = #{adminUser.no}
        limit #{start}, #{end}
    </select>

    <select id="queryAdminUser_Notice_RelatesCountByAdminUser" parameterType="com.po.AdminUser" resultType="Integer">
        select count(*) from admin_user_notice where admin_user_no = #{no}
    </select>

    <select id="queryAdminUserByNotice" parameterType="com.po.Notice" resultType="com.po.AdminUser">
        select * from admin_user where no = (
            select admin_user_no from admin_user_notice where notice_no = #{no}
        )
    </select>

    <insert id="addAdminUser_Notice_Relate" parameterType="com.po.AdminUser_Notice_Relate">
        insert into admin_user_notice (admin_user_no, notice_no) values (#{adminUser_no}, #{notice_no})
    </insert>

    <delete id="deleteAdminUser_Notice_RelateByNotice" parameterType="com.po.Notice">
        delete from admin_user_notice where notice_no = #{no}
    </delete>

</mapper>
