<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.po.User"/>
        <typeAlias alias="Role" type="com.po.Role"/>
        <typeAlias alias="Menu" type="com.po.Menu"/>
        <typeAlias alias="Permission" type="com.po.Permission"/>
        <typeAlias alias="LoginLog" type="com.po.LoginLog"/>
        <typeAlias alias="OperationLog" type="com.po.OperationLog"/>
        <typeAlias alias="SysConfig" type="com.po.SysConfig"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/mybatis/UserMapper.xml"/>
        <mapper resource="com/mybatis/SystemMapper.xml"/>
    </mappers>
</configuration>
